<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft - Custom Models</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- CSS -->
    <!-- JS -->
    <script src="./form.js" defer></script>
    <!-- JS -->
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/572b6f1886.js" crossorigin="anonymous"></script>
    <!-- fonts -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon -->
</head>

<body>
    <main class="main">
        <h1 class="form__legend form__title">Control Table</h1>
        <form class="form" id="form">
            <h2 class="form__title">Header</h2>
            <div class="form__texts">
                <h3 class="form__title">Text</h3>
                <input class="form__input" type="text" placeholder="Partners">
                <input class="form__input" type="text" placeholder="Partners">
                <input class="form__input" type="text" placeholder="Partners">
            </div>
            <div class="form__links">
                <h3 class="form__title">Link</h3>
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
            </div>
            <h2 class="form__title">Slider</h2>
            <div class="form__yt-links">
                <h3 class="form__title">Link</h3>
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
                <input class="form__input" type="text" placeholder="https://www.youtube.com/watch?v=eWTmnZB4ZWQ">
            </div>
            <button id="submitButton" class="form__button" type="submit">Actualizar Datos</button>
        </form>
    </main>
</body>

</html>